<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>
<body data-ng-app="MyApp">
  <h3>
    sddsdsf 111
  </h3>

  <div data-ng-controller="MyController as MyCtrl" class="test">
    Test: {{ MyCtrl.sayHi() }}
  </div>
  <hr>
  <div data-ng-controller="MyController1 as MyCtrl1" class="test">
    <button type="button" data-ng-click="MyCtrl1.onClick()">Create PDF</button>
  </div>
</body>
</html>
